<%= link_to "Home", root_path %>
<%= link_to "Upload new Replay", new_replay_path %>
<a href=#>Search</a>
<%= link_to "Userlist", users_path %>
<% if user_signed_in? %>
<%=		link_to "Log out", destroy_user_session_path, :method => :delete,  %>
<% else %>
<%= link_to "Log in", new_user_session_path %>
<% end %>